:root{
    --primary-color: #FCA311;
    --secundary-color: #FDCF23;

}

/* body e header */
body{
    background-color: rgb(255, 0, 0);
}

header{
    margin: 39px 232px 0px 229px;

}

.nav{
    background-color:white ;
    display: flex;
    align-items: center;
    width: 1459px;
    height: 109px;
    border-radius: 20px;
    padding: 0 40px;
    margin-right: 232;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 143px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}

/* main  */

.imagem-fundo{
    width: 1830px;
    height: 1133px;
    position: absolute;
    z-index: 1;
    transform: translate(751px, -90px);
    display: flex;
}

.inicio-container{
    background-color: rgb(177, 177, 177);
    width:1459px;
    height: 807px;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    margin: 171px 231px 101px 230px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 629px;
    height: 110px;
    border-radius: 10px;
    background-color:var(--primary-color) ;
    margin-top: 260px;
    margin-left: 54px;

}

.botao span{
    font-family: inter;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin: 31px 66px 32px 66px;
}

.carros{
    display: flex;
    justify-content: center;
    transform: translate(748px, 0px);
}

.titulo{
    font-family: inter;
    font-size: 60px;
    font-weight: bold;
    margin: 89px 248px 44px 54px;
}

.titulo span{
    color: var(--primary-color);
}

.texto2{
    margin-left: 54px;
}