:root{
    --primary-color: #FCA311;
    --secundary-color: #FDCF23;
    --terciary-color: #13213C;

}

/* body e header */
body{
    /* background-image: url(../img/fundo\ amarelo\ texturizado.png); */
    background-color: rgb(255, 255, 255);
    height:8942px;
}

header{
    margin: 39px 232px 0px 229px;

}

.nav{
    background-color:white ;
    display: flex;
    align-items: center;
    width: 1459px;
    height: 109px;
    border-radius: 20px;
    padding: 0 40px;
    margin-right: 232;
    justify-content: space-between;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 143px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}

/* main  */

.imagem-fundo{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    transform: translate(751px, -39px);
    display: flex;
}

.inicio-container{
    background-color: rgba(255, 255, 255, 0.95); 
    /* position: relative; */
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 93px;
    margin: 26px 231px 101px 230px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 629px;
    height: 110px;
    border-radius: 10px;
    background-color:var(--primary-color) ;
    margin-top: 44px;
    margin-left: 54px;

}

.botao span{
    font-family: inter;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin: px 66px 32px 66px;
    
}

.carrosebotao{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.carrosebotao img{
    position: absolute;
    margin-bottom: 400px;
}

.carros{
   display: flex;
   margin: 10px 0px 0px 740px;
}


.titulo{
    font-family: inter;
    font-size: 60px;
    font-weight: bold;
    margin: 100px 248px 44px 54px;
}
.titulo p{
    color: var(--terciary-color);
}


.titulo span{
    color: var(--primary-color);
}

.texto2{
    font-family: inter;
    font-weight: normal;
    font-size: 43px;
    margin-left: 54px;
}

/* parte de principais funcionalidades */

   /* parte amarela: primeiras funcionalidades */

.funcionalidades-container{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FCCE23;
}

.parte1{
    display: flex;
    flex-direction: column;
}

.titulo-funcio{
    font-size: 64px;
    font-family: inter;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 80px;

}

.funcionalidade1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 120px;
    height: 423px;
    width: 601px;
}

.funcionalidade1 img{
    display: flex;
    margin: 20px 18px 0px 483px;
    width: 100px;
    height: 100px;
}

.funcionalidade1 span{
    margin: 46px 38px 141px 40px;
    font-size: 40px;
    font-weight:800;
    font-family: inter;
}

.lista-funcional {
    display: flex;
    width: 1427px;
    height: 381px;
    border-radius: 50px;
    /* padding: 85px; */
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0px 190px 0px 240px;
}

.lista-funcional p{

    font-family: inter;
    font-size: 32px;
    font-weight: bold;
}

.demonstracao1 img{
    width: 796px;
    height: 587px;
    border-radius: 50px;
    margin: 154px 520px 301px 570px;
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.demonstracao1 img:hover{
   transform: scale(1.07);
}

.fundolaranja{
    position: absolute;
    width: 1830px;
    height: 1133px;
}

/* parte azul segunda funcionalidade */
.parte2{
    display: flex;
    flex-direction: column;
    background-color: #13213C;
    width: 1920px;
    padding-top: 196px;
}

.funcionalidade2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 120px;
    height: 423px;
    width: 601px;
}

.funcionalidade2 img{
    display: flex;
    margin: 20px 18px 0px 483px;
    width: 100px;
    height: 100px;
}

.funcionalidade2 span{
    margin: 59px 103px 182px 131px;
    font-size: 40px;
    font-weight:800;
    font-family: inter;
}

.lista-funcional2 {
    display: flex;
    width: 1427px;
    height: 432px;
    border-radius: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0px 190px 0px 240px;
}

.lista-funcional2 p{
    margin: 97px 81px 98px 103px;
    font-family: inter;
    font-size: 32px;
    font-weight: bold;
}

.demonstracao2 img{
    width: 796px;
    height: 587px;
    border-radius: 50px;
    margin: 154px 520px 143px 570px;
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.demonstracao2 img:hover{
   transform: scale(1.07);
}

/* parte amarela terceira e última funcionalidade */

.parte3{
    display: flex;
    flex-direction: column;
    background-color: #FCCE23;
    width: 1920px;
    padding-top: 196px;
    padding-bottom: 314px;
}

.funcionalidade3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 120px;
    height: 423px;
    width: 601px;
}

.funcionalidade3 img{
    display: flex;
    margin: 20px 18px 0px 483px;
    width: 100px;
    height: 100px;
}

.funcionalidade3 span{
    margin: 46px 38px 141px 60px;
    font-size: 40px;
    font-weight:800;
    font-family: inter;
}

.lista-funcional3 {
    display: flex;
    width: 1427px;
    height: 381px;
    border-radius: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0px 190px 0px 240px;
}

.lista-funcional3 p{

    font-family: inter;
    font-size: 32px;
    font-weight: bold;
}

.demonstracao3 img{
    width: 796px;
    height: 587px;
    border-radius: 50px;
    margin: 154px 520px 301px 570px;
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.demonstracao3 img:hover{
   transform: scale(1.07);
}

/* parte de preços e planos */
/* plano mensal */

.parte4{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
    background-color: white;
    padding-top: 170px;
    gap: 5px;
}

.parte4 img{
    margin: 119px 44px 222px 46px;
    width: 1830px;
    height: 1133px;
    position: absolute;
    z-index: -2;
    display: flex;
}

.plano-mensal{
    background-color: white;
    width: 729px;
    height: 1065px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    font-family: inter;
    align-items: center;
    margin: 0 173px 100px 120px;

}

.titulomensal{
    font-weight: bold;
    font-size: 48px;
    margin: 47px 207px 94px 204px;
}

.valormensal{
    font-size: 64px;
    font-weight: bolder;
    margin: 0px 337px 79px 77px;
}

.botaocomprar1{
    width: 550px;
    height: 110px;
    border-radius: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 46px 95px 53px 75px;
}

.botaocomprar1 span{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.descricao-pacote1{
    font-size: 32px;
    font-weight: bold;
}

/* plano anual */
.plano-anual{
    background-color: white;
    width: 729px;
    height: 1065px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    font-family: inter;
    margin: 0 40px 100px 0;
    align-items: center;
}


.tituloanual{
    font-weight: bold;
    font-size: 48px;
    margin: 47px 0px 94px 0px;
}

.valor-antigo{
    font-size: 48px;
    font-weight: bold;
    color: #BCBCBC;
    text-decoration: line-through;
}

.valoranual{
    font-size: 64px;
    font-weight: bolder;
}

.valoresanuais{
    margin: 0px 140px 66px 90px;
}

.desconto{
    margin-left: 10px;
    font-size: 36px;
    font-weight:bold;
    font-family: 36px;
    color: #FCA311;
}

.botaocomprar2{
    width: 550px;
    height: 110px;
    border-radius: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 223px 89px 53px 90px;
}

.botaocomprar2 span{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.descricao-pacote2{

    font-size: 32px;
    font-weight: bold;
}


/* footer */

.footer {
    background: #fff;
    border-top: 3px solid #eee;
    padding: 50px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter, sans-serif;
}

.footer-logo img {
    height: 55px;
}

.devs {
    display: flex;
    align-items: center;
    gap: 50px;
}

.devs h3 {
    font-size: 22px;
    font-weight: 700;
    color: #1c2746;
}

.dev {
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
}

.circulo-G,
.circulo-I,
.circulo-F {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.circulo-G { background: #1c2746; }
.circulo-I { background: #f4a018; }
.circulo-F { background: #000; }
