:root{
    --primary-color: #FCA311;
    --secundary-color: #FDCF23;
    --terciary-color: #13213C;

}

/* body e header */
body{
    /* background-image: url(../img/fundo\ amarelo\ texturizado.png); */
    background-color: rgb(255, 255, 255);
    height:8942px;
}

header{
    margin: 39px 232px 0px 229px;

}

.nav{
    background-color:white ;
    display: flex;
    align-items: center;
    width: 1459px;
    height: 109px;
    border-radius: 20px;
    padding: 0 40px;
    margin-right: 232;
    justify-content: space-between;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 143px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}

/* main  */

.imagem-fundo{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    transform: translate(751px, -39px);
    display: flex;
}

.inicio-container{
    background-color: rgba(255, 255, 255, 0.95); 
    position: relative;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 93px;
    margin: 26px 231px 101px 230px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 629px;
    height: 110px;
    border-radius: 10px;
    background-color:var(--primary-color) ;
    margin-top: 44px;
    margin-left: 54px;

}

.botao span{
    font-family: inter;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin: px 66px 32px 66px;
    
}

.carrosebotao{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.carrosebotao img{
    position: absolute;
    margin-bottom: 400px;
}

.carros{
   display: flex;
   margin: 10px 0px 0px 740px;
}


.titulo{
    font-family: inter;
    font-size: 60px;
    font-weight: bold;
    margin: 100px 248px 44px 54px;
}
.titulo p{
    color: var(--terciary-color);
}


.titulo span{
    color: var(--primary-color);
}

.texto2{
    font-family: inter;
    font-weight: normal;
    font-size: 43px;
    margin-left: 54px;
}

/* parte de principais funcionalidades */

   /* parte amarela: primeiras funcionalidades */

.funcionalidades-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FCCE23;

}

.parte1{
    display: flex;
    flex-direction: column;
}

.titulo-funcio{
    font-size: 64px;
    font-family: inter;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 80px;

}

.funcionalidade1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 120px;
    height: 423px;
    width: 601px;
}

.funcionalidade1 img{
    display: flex;
    margin: 20px 18px 0px 483px;
    width: 100px;
    height: 100px;
}

.funcionalidade1 span{
    margin: 46px 38px 141px 40px;
    font-size: 40px;
    font-weight:800;
    font-family: inter;
}

.lista-funcional {
    display: flex;
    width: 1427px;
    height: 381px;
    border-radius: 50px;
    /* padding: 85px; */
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0px 190px 0px 240px;
}

.lista-funcional p{

    font-family: inter;
    font-size: 32px;
    font-weight: bold;
}

.demonstracao1 img{
    width: 796px;
    height: 587px;
    border-radius: 50px;
    margin: 154px 520px 301px 570px;
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.demonstracao1 img:hover{
   transform: scale(1.07);
}

.fundolaranja{
    position: absolute;
    width: 1830px;
    height: 1133px;
}
