:root{
    --primary-color: #FCA311;
    --secundary-color: #FDCF23;
    --terciary-color: #13213C;

}

/* body e header */
body{
    background-color: rgb(255, 255, 255);
    height: 8942px;
}

header{
    margin: 39px 232px 0px 229px;

}

.nav{
    background-color:white ;
    display: flex;
    align-items: center;
    width: 1459px;
    height: 109px;
    border-radius: 20px;
    padding: 0 40px;
    margin-right: 232;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 143px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}

/* main  */

.imagem-fundo{
    width: 1830px;
    height: 1133px;
    position: absolute;
    z-index: 1;
    transform: translate(751px, -90px);
    display: flex;
}

.inicio-container{
    background-color: rgba(255, 255, 255, 0.95);
    width:1459px;
    height: 807px;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    margin: 135px 231px 101px 230px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.botao{
    display: flex;
    position: absolute;
    z-index: 3;
    align-items: center;
    justify-content: center;
    width: 629px;
    height: 110px;
    border-radius: 10px;
    background-color:var(--primary-color) ;
    margin-top: 44px;
    margin-left: 54px;

}

.botao span{
    font-family: inter;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin: px 66px 32px 66px;
    
}

.carrosebotao{
    display: flex;
    flex-direction: column;
    background-color: tomato;
    justify-content: center;

}

.carros{
   display: flex;
   position: absolute;
   z-index: 2;
   margin: 600px 0px 800px 740px;
}


.titulo{
    font-family: inter;
    font-size: 60px;
    font-weight: bold;
    margin: 89px 248px 44px 54px;
}
.titulo p{
    color: var(--terciary-color);
}


.titulo span{
    color: var(--primary-color);
}

.texto2{
    font-family: inter;
    font-weight: normal;
    font-size: 43px;
    margin-left: 54px;
}


/* parte de principais funcionalidades */
